rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthed() {
      return request.auth != null;
    }

    match /games/{gameId} {
      function isPlayer() {
        return isAuthed() && (
          resource.data.players.A.uid == request.auth.uid ||
          (resource.data.players.B != null && resource.data.players.B.uid == request.auth.uid)
        );
      }

      allow read: if isPlayer();
      allow create, update, delete: if false;
    }

    match /users/{uid} {
      allow read: if isAuthed() && request.auth.uid == uid;
      allow create: if isAuthed() && request.auth.uid == uid;
      allow update: if isAuthed() && request.auth.uid == uid;
      allow delete: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
